@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body{
  font-family:"Montserrat",sans-serif;
  font-optical-sizing:auto;
  background:#f5f0f0;
  color:rgb(0,0,0,0.9);
  overflow-x: hidden;
}

.container {
  width: 95%;
  margin: auto;
  
}

::-webkit-scrollbar{width:8px !important; height:8px !important} 
::-webkit-scrollbar-thumb{background:#ff5252 !important}
::-webkit-scrollbar-track{background:#fff}

.btn-org{background: #ff5252 !important; color:#fff !important; font-weight:500 !important; font-size:16px !important;}

.link:hover{color: #ff5252 !important}

.MuiBadge-badge{background-color:#ff5252 !important}

.categoryPanel button{text-transform:capitalize !important}

.nav li .submenu{visibility: hidden; z-index:1000}
.nav li:hover .submenu{opacity:1 !important; visibility:inherit }

.nav li .submenu li .submenu { top: 0px !important; left: 120% !important; opacity: 0 !important; }
.nav li .submenu li:hover .submenu { left: 100% !important; opacity: 1 !important; }

.sliderHome {
  --swiper-navigation-size: 20px;
}

.sliderHome {
  --swiper-navigation-size: 20px;
}

.swiper-button-prev,.swiper-button-next {background: !important; width: 36px !important; height: 36px !important;
 border-radius: 50% !important; box-shadow: 0 1px 3px rgba(0,0,0,0.2) !important;}

.swiper-button-prev:after,.swiper-button-next:after {font-size: 14px !important;color: #000 !important;font-weight: 700 !important;}

.swiper-button-prev svg {width: 16px !important;height: 16px !important;position: absolute !important;top: 50% !important;    left: 50% !important;transform: translate(-50%, -50%) rotate(180deg) !important;}

.swiper-button-next svg {width: 16px !important;height: 16px !important;position: absolute !important;top: 50% !important;left: 50% !important; transform: translate(-50%, -50%) !important;
}

.productSlide .swiper-wrapper{padding:15px; margin-left:-15px; margin-right:15px; }
.productItem .title{line-height:18px;}

.productItems .actions button:hover svg{color:#fff !important;}
.productItems .actions button svg{pointer-events:none !important;}

.MuiFormControlLabel-label{font-size:13px !important ; color:rgba(rgba(0,0,0,0.8)) !important;}